{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "plugins": [
    "prefer-object-spread"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "experimentalObjectRestSpread": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    // Allow console methods, which get removed during build process
    "no-console": 0,
    // Do not enforce component method order
    "react/sort-comp": [0],
    "react/no-multi-comp": [1, { "ignoreStateless": true }],
    "no-use-before-define": 0,
    "arrow-body-style": 0,
    "prefer-object-spread/prefer-object-spread": 2,
    "react/jsx-no-bind": 0,
    "new-cap": 0
  },
  "globals": {
    "__DEV__": true
  }
}
